#footer
  .container
    .row
      .span2
        %p.center
          %img{'src' => 'http://hermann-mayer.net/bundles/jityhomepage/img/signature.png'}
        %p.center
          Gitlab Forked by
          %br
          %a{'href' => 'http://hermann-mayer.net'} Hermann Mayer
      .span4
        %p
          %h6 About this Website
          This is a private Gitlab setup which was forked and modified to allow public
          access to it. The fork is available at <a href="https://github.com/Jack12816/gitlabhq">Github</a>.
      .span2
        %p
          %h6 About Me
          %ul
            %li
              %a{'href' => 'https://github.com/Jack12816'} GitHub Profile
            %li
              %a{'href' => 'https://connect.sensiolabs.com/profile/jack12816'} SensioLabs Profile
            %li
              %a{'href' => 'http://hermann-mayer.net/blog'} Blog
            %li
              %a{'href' => 'https://twitter.com/Jack12816'} Twitter
      .span2
        %p
          %h6 Applications
          %ul
            %li
              %a{'href' => 'http://projects.hermann-mayer.net/'} Issue Tracker
